{% load static %}
<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
        <link href="{% static "css/recipes.css" %}" rel="stylesheet">
    </head>

    <body class="body">
    <header class="header">
        <nav class="nav">
            <a class="a" href="{% url 'recipes' %}">Main Page</a>
            <a class="a" href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>

    <main class="main">
        <h1>{{ recipe_object.title }}</h1>
        <img class="fit-picture" src="{{ recipe_object.picture }}">
        <div>4.3 Stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <thread>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thread>
        <tbody>
            <tr>
                <td>1 Cup</td>
                <td>Green Beans</td>
            </tr>
            <tr>
                <td>3 Ears</td>
                <td>Fresh Corn</td>
            </tr>
            <tr>
                <td>2 Cups</td>
                <td>Tomatillo Salsa</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Corn Tortillas</td>
            </tr>
            <tr>
                <td>0.5 Cups</td>
                <td>Cotija Cheese</td>
            </tr>
            <h2>Steps</h2>
            <ol>
                <li>Blanch the green beans</li>
                <li>Grill the green beans and the ears of corn</li>
                <li>Chop the green beans</li>
                <li>Slice the corn off the cob</li>
                <li>Grill the tortillas</li>
                <li>Assemble the tacos with veggies, salsa, and cheese</li>
            </ol>
        </tbody>
        </table>
    </main>

    <footer class="footer">Made with love by Scrumptious Recipes</footer>

</body>


</html>
