{% load static %}
<!doctype html>

<html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
      <link href="{% static "css/recipes.css" %}" rel="stylesheet">
    </head>

    <body class="body">
    <header class="header">
        <nav class="nav">
            <a class="a" href="{% url 'recipes' %}">Main Page</a>
        </nav>
    </header>

    <main class="main">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Edit</button>
      </form>
    </main>

    <footer class="footer">Made with love by Scrumptious Recipes</footer>

</body>


</html>
