
{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link href="{% static "css/recipes.css" %}" rel="stylesheet">
</head>

<body class="body">

    <header class="header">
        <nav class="nav">
        <a class="a" href="{% url 'recipes' %}">Main Page</a>
        <a class="a" href="{% url 'create_recipe' %}">Create a Recipe</a>
        </nav>
    </header>

    <h1>Scrumptious Recipes</h1>
    <h2>All the food thats fit to eat</h2>

    <main class="main">

            <div class="div">
                {% for recipe in recipe_list %}
                <h3 class="h3">
                    <a class="a" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    <p>{{ recipe.created_on|date:"" }}</p>
                </h3>
                <img class="fit-picture" src="{{ recipe.picture }}"
                    alt="Vegan Tacos on a plate with garnish">
                <div>4.3 Stars</div>
                {%endfor%}
            </div>


    </main>

</body>


    <footer class="footer">Made with love by Scrumptious Recipes</footer>
</html>
